<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application>
        <activity
            android:name=".PushIntentHandler"
            android:exported="false" />
        <activity
            android:name=".TestNotificationsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <service
            android:name=".PushNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <receiver
            android:name=".PushTemplateReceiver"
            android:enabled="true"
            android:exported="false" />
    </application>
</manifest>